button,
input,
optgroup,
select,
textarea {
  font: inherit;
  line-height: inherit;
}
:focus:not(:focus-visible) {
    outline: none;
  }

  fieldset {
    min-width: 0;
    padding: 0;
    border: 0;
  }

button{
    display: inline-block;
    vertical-align: middle;
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    margin: var(--button-margin-left);
    transition: var(--button-transition);
    text-align: center;
    text-decoration: none;
    white-space: normal;
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    border: var(--button-border-width) solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg);
    color: var(--button-color);
    font-weight: var(--main-font-weight-bold);
  }

button:hover, button:focus{
    outline: 0;
    text-decoration: none;
    border-color: var(--button-hover-border-color);
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
}

button:active{
    background-color: var(--button-active-bg);
    color: var(--button-active-color);
}
button.disabled,
button:disabled {
  opacity: var(--button-disabled-opacity);
  cursor: default;
  pointer-events: none;
}

/*  Forms */
label {
    display: inline-block;
    margin-bottom: 0.3rem;
  }
  
  .label-inline {
    margin-top: 1px;
    padding-top: var(--input-padding-vertical);
  }
  
  .form-group {
    margin-bottom: 1rem;
  }

  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  textarea,
  select{
    display: block;
    width: 100%;
    height: var(--input-height);
    border: none;
    border-bottom: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    background-clip: padding-box;
    background-color: var(--input-bg);
    color: var(--input-color);
    transition: var(--input-transition);
  }

  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="url"]:focus,
  textarea:focus,
  select:focus{
    border-color: var(--input-focus-border-color);
    border-bottom-width: 2px;
    outline: 0;
  }

  input[type="email"]:disabled,
  input[type="number"]:disabled,
  input[type="password"]:disabled,
  input[type="search"]:disabled,
  input[type="tel"]:disabled,
  input[type="text"]:disabled,
  input[type="url"]:disabled,
  textarea:disabled,
  select:disabled{
    border-color: var(--input-disabled-border-color);
    background-color: var(--input-disabled-bg);
    color: var(--input-disabled-color);
    cursor: not-allowed;
  }  
  select {
    overflow-x: hidden;
  }
  select:focus::-ms-value {
    background: transparent;
    color: currentColor;
  }

  select[multiple],
  select[size] {
    height: auto;
  }
  
  textarea {
    resize: vertical;
  }
  textarea[rows] {
    height: auto;
  }

  textarea:not([rows]) {
    height: calc(var(--input-height) * 2);
  }

  input[type="radio"]:not(:only-child),
  input[type="checkbox"]:not(:only-child) {
    position: absolute;
    margin-top: 0.35em;
  }

  input[type="radio"] ~ label,
  input[type="checkbox"] ~ label {
    margin-bottom: 0;
    padding-left: 20px;
    font-weight: inherit;
    color: var(--input-disabled-color);
    cursor: not-allowed;
  }
  
  input[type="file"] {
    display: block;
    max-width: 100%;
  }
  
  ::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
  }