:root {
  --purple: #4100a7;
  --turquoise: #00c9b8;
  --yellow: #fcd200;
  --pink: #ffb3c1;
  --red: #fe5e54;
  --black: #141414;
  --main-font-weight: 300;
  --main-font-weight-bold: 700;

  /* Button */
  --button-padding-vertical: 0.375rem;
  --button-padding-horizontal: 1rem;
  --button-margin-left: 10px;
  --button-margin-top: 10px;
  --button-margin-right: 10px;
  --button-margin-bottom: 10px;
  --button-bg: var(--purple);
  --button-color: #fff;
  --button-border-width: 1px;
  --button-border-color: transparent;
  --button-border-radius: 999999px;
  --button-hover-bg: #0058a5;
  --button-hover-color: #fff;
  --button-hover-border-color: var(--button-border-color);
  --button-active-bg: var(--button-hover-bg);
  --button-active-color: var(--button-hover-color);
  --button-disabled-opacity: 0.65;
  --button-transition: background-color 0.15s ease, color 0.15s ease;
  --button-cursor-pointer: pointer;

  /* Search bar */
  --input-height: 2.375rem;
  --input-padding-vertical: 0.375rem;
  --input-padding-horizontal: 0rem;
  --input-bg: #fff;
  --input-color: black;
  --input-border-width: 1px;
  --input-border-color: black;
  --input-focus-border-color: var(--purple);
  --input-border-radius: 0px;
  --input-transition: border-color 0.15s ease;
  --input-disabled-bg: #eee;
  --input-disabled-color: #555;
  --input-disabled-border-color: #ccc;
  --checkbox-border-radius: var(--input-border-radius);
  --placeholder-color: grey;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--main-font-weight);
}

main {
  max-width: 1200px;
  min-height: 300px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
button {
  font-weight: 500;
}
